@import 'styles/MapPopup.scss';
@import 'styles/Login.scss';
@import 'styles/GroupChat';
/*Map*/
.map-container {
  height: 100vh;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;

  /*margin: 12px;*/
  border-radius: 4px;
}



.profileImg{
  width:200px
}

.login-button{

}


/*Map Pop Up*/
table, th, td {
  text-align: center;
  word-wrap: break-word;
}
th{
  background-color: #96D4D4;
}
td:first-of-type{
  width: 80px;
}
td:nth-of-type(3){
  width: 100px;

}
/*Map Pop Up*/


/*Map*/
ul li{
  list-style: none;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo{
  height: 50px;
  width: 50px;
  margin: 16px;
}


