/* messagelist */

.messages-text-lis .time {
  font-size: 12px;
  color: #999;
  margin-left: 15px;
}

.messages-text-lis p {
  position: relative;
  width: 85%;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #a0d468;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  line-height: 26px;
}

.messages-text-lis p:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  top: -14px;
  left: 10px;
  border-top-width: 0;
  border-bottom-color: #a0d468;
  border-width: 7px;
}

.sent-text-lis p {
  position: relative;
  width: 85%;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #0d67ec;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  line-height: 26px;
}

.sent-text-lis p:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  top: -14px;
  left: 66rem;
  border-top-width: 0;
  border-bottom-color: #0d67ec;
  border-width: 7px;
}

.sent-text-lis img{
  margin-left: 65rem;
}



/* messagelist */

/* 聊天框 */
.chat-input{
  border: 1px solid #ddd;
  background: #ddd;
  width: 80%;
  height: 2rem;
}

.avatar{
  width:50px;
}